body {
    font-family: 'Nunito';
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#chat-group {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

#chat-window {
    height: 400px;
    /*overflow: auto;*/
    overflow-inline: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

textarea {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button {
    background: #4850ecbb;
    color: #fff;
    font-size: 18px;
    border: 0;
    opacity: 0.9;
    padding: 12px 0;
    width: 100%;
    margin: 1px;
    border-radius: 0 0 0 0;
}

#send,
#message {
    visibility: none;
}

#status {
    color: rgb(66, 62, 62);
    padding: 14px 0px;
    margin: 0 20px;
    text-align: center;
    font-style: normal;
}


/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button:hover {
    opacity: 1;
}

#signUp_link {
    cursor: pointer;
}


/* Extra styles for the cancel button */

.cancelbtn {
    float: right;
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    float: left;
    padding: 14px 20px;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    width: 40%;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 50%;
    }
}

#signUp_window {
    display: none;
    margin: 3%;
}

.change {
    display: block;
}

.change1 {
    display: none;
}